$def with(todos)


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录页</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
	<div class="page">
		<a href="index.html" class="log"><img src="/static/images/login_03.png" alt="logo"></a>
		<div class="log_main">
			<div class="cartoon"><img src="/static/images/login_07.png" alt=""></div>
			<p class="slogan">日夜兼程<span>·</span>急速送达</p>
			<div class="login_table">
				<div class="header">
					<h3>会员登录</h3>
					<div class="register fr">
						<a href="register.html">立即注册</a>
					</div>
				</div>
				<div class="user_input">
					<form method="post">
						<div class="username">
						<input type="txt" name="username" placeholder="请输入用户名" class="username_input">
						<div class="user_button fr"></div>
						</div>
						<div class="note">
							<p>输入信息提示</p>
						</div>
						<div class="password">
						<input type="password" name="password" placeholder="请输入密码" class="password_input">
						<div class="password_button fr"></div>
						</div>
						
						<div class="item">
							<input type="checkbox" id='remember_name' class="input_check">
							<label  for=remember_name >记住用户名</label>
							<a href="#" class="find_password fr" >忘记密码</a>
							
						</div>

						<input type="submit" name="" value="登录" class="login_index">
					</form>
				</div>
			</div>
		</div>
		<div class="bottom bottom_login">
		<div class="links">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p class="number">电话：010-****888</p>    
		<p class="addres">京ICP备*******8号</p>
		
	</div>

	</div>
</body>
</html>

